# Logs
logs
test_logs
*.log

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# Babel.js
lib/

# cache folder
.cache

# Mac DS_Store files
.DS_Store
